# Framework per l'API e server web asincrono
fastapi==0.115.7
uvicorn[standard]==0.34.0

# Client asincrono per la comunicazione con Kafka
aiokafka==0.12.0

# Client per i database Key-Value
redis==5.0.4
etcd3==0.12.0

# Libreria per la validazione dei modelli di dati
pydantic==2.5.3

# Dipendenza specifica per etcd3 per evitare errori di versione
protobuf==3.20.3

# Strumenti per i test (opzionali ma consigliati)
pytest==8.2.2
pytest-mock==3.14.1